*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-colour:#000000;
    --secondary-colour: #131111;
    --tertiary-colour: #696868;
    --header-colour: #fdfaf6dd;
    --text-colour: #8b8a8a;

}

body{
    background-color: var(--primary-colour);
    color: var(--header-colour);
    font-family: "Poppins", sans-serif;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 8fr;
    grid-template-columns: 1fr 3fr 1fr;
}

header{
    grid-row: 1/2;
    grid-column: 2/3;
    min-height: 10vh;
}
header nav{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
nav button{
    width: 90px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #393939;
    background: var(--secondary-colour);
    font-family: inherit;
    color: white;
    font-size: 1.25rem;
    box-shadow: 3px 3px #393939;
}
nav button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}

main{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 2.25fr;
    gap: 1rem;
}



.sidebar, .content{
    border-radius: 15px;
    border: 1px solid #393939;
    background: var(--secondary-colour);
    margin: 4rem 0;
    padding: 2rem;
    box-shadow: 7px 7px #393939;
    max-height: 80vh;
}

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar ul, .content p{
    color: var(--text-colour);
}

.project-list{
    overflow: auto;
}

.add-btn-inline{
    color: var(--header-colour);
    background-color: var(--secondary-colour);
    height: 20px;
    width: 20px;
    border: 1px solid #393939;
    box-shadow: 2px 2px #393939;
    border-radius: 5px;
}
.add-btn-inline:active{
    transform: translate(2px, 2px);
    box-shadow: none;
}

.titleContainer{
    margin-right: auto;
}

.flexContainer{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-top: 1rem;
    padding-bottom: 0.35rem;
    border-bottom: 4px inset #393939;
}

.dropdown-button{
    height: 5px;
}

.add-btn{
    color: #fafafa;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #393939;
    background: var(--Seconday-Colour, #131111);
    box-shadow: 4px 4px #393939;
    cursor: pointer;
    margin: 35px 0;
    color: var(--tertiary-colour);
    cursor: pointer;
}

.add-btn:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}

ul{
    list-style: none;
}

input[type='search']{
    width: 100%;
    height: 36px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #393939;
    background: var(--secondary-colour);
    font-family: inherit;
    color: white;
    text-align: left;
    padding-left: 1rem;
    box-shadow: 4px 4px #393939;
    transition: all 0.5s ease;
    margin-top: auto;
}

form select:focus, form input:focus, input[type='search']:focus{
    border: 1px solid whitesmoke;
    box-shadow: 4px 4px whitesmoke;
    outline: none;
    color: white;
}
input[type='search']::-webkit-search-cancel-button {
    display: none; 
}

dialog{
margin: auto;
background-color: #EAEDF0;
border-radius: 10px;
border: 1px solid #393939;
box-shadow: 10px 10px #393939;
}

::backdrop{
background-color: black;
opacity: 0.5;
}

form {
padding: 20px;
background: var(--secondary-colour);
color: var(--text-colour);
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
gap: 20px;
border-radius: 8px;
}

form h2 {
color: var(--header-colour);
font-weight: 900;
font-size: 20px;
align-self: center;
}

form div{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

form div label {
    width: 6rem;
    text-align: right;
}

form input, form select {
width: 250px;
height: 40px;
border-radius: 5px;
border: 1px solid #393939;
background-color: var(--secondary-colour);
color: var(--tertiary-colour);
box-shadow: 4px 4px #393939;
font-size: 15px;
font-weight: 600;
padding: 5px 10px;
transition: all 0.5s ease;
}


#btn-cancel, #btn-confirm {
margin: 20px auto 0 auto;
width: 120px;
height: 40px;
border-radius: 5px;
border: 1px solid #393939;
background-color: var(--bg-color);
box-shadow: 4px 4px #393939;
font-size: 17px;
font-weight: 600;
color: var(--tertiary-colour);
cursor: pointer;
}

#btn-cancel:active, #btn-confirm:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}

.btn-pair{
    justify-content: center;
    width: 100%;
}

/* From Uiverse.io by andrew-demchenk0 */ 
/* Styling the checkbox */
input[type="checkbox"] {
position: relative;
width: 30px;
height: 30px;
appearance: none; /* Remove default checkbox styles */
border: 2px solid #323232; /* Main color for border */
border-radius: 5px;
box-shadow: 4px 4px var(--tertiary-colour); /* Shadow color */
background-color: #ccc; /* Out-of-focus background color */
cursor: pointer;
transition: all 0.3s;
margin-right: 1rem;
}

/* Change background color when checked */
input[type="checkbox"]:checked {
background-color: #2d8cf0; /* Focus background color */
}
/* Add checkmark using ::after pseudo-element */
input[type="checkbox"]::after {
content: "";
width: 10px; /* Width of the checkmark */
height: 5px; /* Height of the checkmark */
position: absolute;
top: 9px; /* Adjust vertical position */
left: 7px; /* Adjust horizontal position */
border: solid #fff; /* Checkmark color */
border-width: 0 2px 2px 0; /* Thickness of the checkmark */
transform: rotate(135deg) scaleY(-1) translateY(-1px) translateX(-1px); /* Rotate, flip vertically, and adjust position */
display: none;
}

/* Show checkmark when checked */
input[type="checkbox"]:checked::after {
display: block;
}

ul.styledList button{
    color: var(--header-colour);
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #393939;
    background: var(--secondary-colour);
    box-shadow: 0px 3px #393939;
    cursor: pointer;
    margin-bottom: 0.25rem;
}

ul.styledList button:active{
    box-shadow: none;
    transform: translate(0px, 3px);
}

ul.styledList li{
    margin-top: 0.5rem;
}

.todos{
    margin-top: 3rem;
    max-height: 40vh;
    overflow: auto;
}

#addTodo-btn{
    margin-top: 0.5rem;
}

#editBtn:active, #deleteBtn:active{
    transform: translate(3px, 3px);
    box-shadow: none;
}


.todos li{
    display: flex;
    gap: 0.75rem;
    align-items: center;
    margin-bottom: 1rem;
}

.todos .priorityDiv{
    border-radius: 4px;
    background-color: var(--bg-color);
    font-size: 16px;
    padding: 3px;
    font-weight: 400;
    color: var(--header-colour);
    margin-left: auto;
}

.dueDateDiv{
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-colour);

}

.strikeThrough{
    text-decoration:line-through;
    color: var(--text-colour);
}

.content .banner{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.banner{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.content p{
    padding-bottom: 0.25rem;
}

.banner button{
    color: var(--header-colour);
    background-color: var(--secondary-colour);
    height: 30px;
    width: 30px;
    border: 1px solid #393939;
    box-shadow: 3px 3px #393939;
    border-radius: 5px;
}


  
  
